# Работа с таблиц

In [121]:
import pandas as pd
import xlwings as xw
import numpy as np

## Задачи для совместного разбора

1. Загрузите данные из файлов `reviews_sample.csv` и `recipes_sample.csv` в виде `pd.DataFrame`. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [122]:
recipes = pd.read_csv("../data sources/recipes_sample.csv")
reviews = pd.read_csv("../data sources/reviews_sample.csv")

recipes = recipes[['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients']]
recipes.head()

,id,name,minutes,submitted,description,n_ingredients
0,44123,george s at the cove black bean soup,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,67664,healthy for them yogurt popsicles,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,38798,i can t believe it s spinach,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,35173,italian gut busters,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,84797,love is in the air beef fondue sauces,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN

In [123]:
reviews.head()

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [124]:
#five_recipes = int(recipes.shape[0] * 0.05)    # кол-во строк равных 5% таблицы recipes
#five_recipes = int(reviews.shape[0] * 0.05) # кол-во строк равных 5% таблицы reviews

#print(f"5% recipes = {five_recipes} строк.\n5% reviews = {five_reviews} строк.")

# with pd.ExcelWriter('../data sources/ExcelSolution.xlsx', mode='w') as writer:
#     recipes.sample(five_recipes).to_excel(writer, sheet_name='Рецепты', index=False)
#     reviews.sample(five_reviews).to_excel(writer, sheet_name='Отзывы', index=False)


five_recipes = recipes.sample(frac=0.05, random_state=1)
five_reviews = reviews.sample(frac=0.05, random_state=1)

with pd.ExcelWriter('../data sources/ExcelSolution.xlsx', mode='w') as writer:
    five_recipes.to_excel(writer, sheet_name='Рецепты', index=False)
    five_reviews.to_excel(writer, sheet_name='Отзывы', index=False)

3. Из листа "Рецептура" файла `себестоимостьА_в1.xlsx` для области "Пшеничный хлеб" рассчитать себестоимость всех видов продукции.

In [125]:
ebook = xw.Book("../data sources/себестоимостьА_в1.xlsx")
sheet = ebook.sheets['Рецептура']

costs = sheet.range('G7:O10').options(np.array).value
unit_price = sheet.range("G14:O14").options(np.array).value

cost_price = np.nan_to_num(costs * unit_price).sum(axis=1)
cost_price

array([21.48 , 16.525, 17.423, 18.085])

4. Результаты расчетов 1 сохранить в отдельном листе

In [126]:
new_sheet = ebook.sheets.add()

new_sheet.range('A1').value = cost_price
ebook.save()

## Лабораторная работа

1. Загрузите данные из файлов `reviews_sample.csv` и `recipes_sample.csv` в виде `pd.DataFrame`. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [127]:
recipes = pd.read_csv("../data sources/recipes_sample.csv", sep=',', parse_dates=["submitted"])
reviews = pd.read_csv("../data sources/reviews_sample.csv", sep=',', parse_dates=["date"])

recipes = recipes[["id", "name", "minutes", "submitted", "description", "n_ingredients"]]
reviews = reviews.rename(columns={"Unnamed: 0": "review_id"})
recipes.head()

,id,name,minutes,submitted,description,n_ingredients
0,44123,george s at the cove black bean soup,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,67664,healthy for them yogurt popsicles,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,38798,i can t believe it s spinach,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,35173,italian gut busters,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,84797,love is in the air beef fondue sauces,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN

In [128]:
reviews.head()

,review_id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

2. Используя `pandas`, добавьте лист `Рецепты_1` показывающий время выполнения рецепта в секундах.

In [129]:
recipes["cooking time / sec."] = recipes["minutes"] * 60
recipes.head()

,id,name,minutes,submitted,description,n_ingredients,cooking time / sec.
0,44123,george s at the cove black bean soup,90,2002-10-25,an original recipe created by chef scott meska...,18.0,5400
1,67664,healthy for them yogurt popsicles,10,2003-07-26,my children and their friends ask for my homem...,NaN,600
2,38798,i can t believe it s spinach,30,2002-08-29,"these were so go, it surprised even me.",8.0,1800
3,35173,italian gut busters,45,2002-07-27,my sister-in-law made these for us at a family...,NaN,2700
4,84797,love is in the air beef fondue sauces,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN,1500

In [130]:
book = xw.Book()

sheet = book.sheets[0]
sheet.name = "Рецепты_1"
sheet.range('A1').value = recipes

3. Используя `pandas`, добавьте лист `Рецепты_2` столбец `cooking time / sec.`, показывающий время выполнения рецепта в секундах.

In [131]:
new_sheet = book.sheets.add("Рецепты_2")
new_sheet.range('A1').value = recipes["cooking time / sec."]



reviews_sheet = book.sheets.add("Отзывы")
reviews_sheet.range('A1').value = reviews

book.save("../data sources/excelSolution.xlsx")

4. Напишите функцию `validate`, которая проверяет соответствие всех строк из листа `Отзывы` следующим правилам:
    * Рейтинг - это число от 0 до 5 включительно
    * Соответствующий рецепт имеется на листе `Рецепты`

In [147]:
rBook = xw.Book("../data sources/excelSolution.xlsx")

review_sheet = rBook.sheets[0]
recipe_sheet = rBook.sheets[-1]

rBook.sheets

Sheets([<Sheet [ExcelSolution.xlsx]Отзывы>, <Sheet [ExcelSolution.xlsx]Рецепты_2>, <Sheet [ExcelSolution.xlsx]Рецепты_1>])

In [150]:
recipe_id = recipe_sheet.range('B2:B230001').options(np.array)

In [152]:

def validate(review_sheet, recipe_id):
    bank = []
    reviews = review_sheet.range('B2:F126697').options(np.array)
    rows = review_sheet.range('B2:F126697').current_region.last_cell.row
    
    rating = [*range(0, 6)]
    for row in range(rows-1):
        if any([(int(reviews[row, 4].value) not in rating), reviews[row, 2].value not in recipe_id.value]):
            bank.append(reviews[row, 2].value)
            reviews[row, :].color = (255, 0, 0)
    return bank


#print(f"Рецепты которые не прошли критерий:")
#print(validate(review_sheet, recipe_id))

5. В файле `recipes_model.csv` находится модель данных предметной области "рецепты". При помощи пакета `csv` считайте эти данные; запишите данные на лист `Модель` книги `recipes_model.xlsx`, начиная с ячейки `A2`.

In [157]:
df = pd.read_csv("../data sources/recipes_model.csv", sep='\t', names=["table", "atribute", "atribute_type", "flag", "atribute_name", "key_name", "key", "key_to_table", "key_to_table_atribute"])

df.head()

,table,atribute,atribute_type,flag,atribute_name,key_name,key,key_to_table,key_to_table_atribute
0,recipe,name,varchar(100),Y,Рецепт,Название рецепта,NaN,NaN,NaN
1,recipe,id,serial,N,Рецепт,ID рецепта,PK,NaN,NaN
2,recipe,minutes,int,Y,Рецепт,Длительность выполнения в минутах,NaN,NaN,NaN
3,recipe,contributor_id,int,Y,Рецепт,ID автора рецепта,FK,user,id
4,recipe,submitted,timestamp,Y,Рецепт,Дата добавления,NaN,NaN,NaN

6. Посчитайте количество атрибутов для каждой из сущностей. Создайте лист `Статистика` и запишите в него результат группировки, начиная с ячейки "А1". Визуализируйте полученный результат при помощи столбчатой диаграммы.

In [182]:
data = df[["table", "atribute"]].groupby("table").describe()
data

       atribute
          count unique   top freq
table
recipe        8      8  name    1
review        6      6    id    1
user          3      3    id    1

In [183]:
data.shape

(3, 4)

In [192]:
wb = xw.Book('../data sources/excelSolution.xlsx')

stats = wb.sheets.add("Статистика")


stats.range('A1').value = data

chart = stats.charts.add()

chart.set_source_data(stats.range('A3:B5'))

# Настройте параметры диаграммы
chart.height = 300
chart.width = 400

wb.save()